/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        BetterBT0: BetterBT0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0 &out OUT_BLE &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(0,100,50) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERBT0";
        };

        BetterBT1: BetterBT1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1 &out OUT_BLE &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(237,100,50) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERBT1";
        };

        BetterBT2: BetterBT3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2 &out OUT_BLE &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(48,100,50) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERBT3";
        };

        BetterBT3: BetterBT3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3 &out OUT_BLE &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(123,100,50) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERBT3";
        };

        BetterBT4: BetterBT4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 4 &out OUT_BLE &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(289,100,50) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERBT4";
        };

        BetterUSB: BetterUSB {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_USB &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(0,0,100) &rgb_ug RGB_BRD &rgb_ug RGB_BRD &rgb_ug RGB_BRI>;
            label = "BETTERUSB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E      &kp R     &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P          &mkp LCLK
&kp LEFT_COMMAND  &kp A  &kp S  &kp D      &kp F     &kp G        &kp H      &kp J  &kp K      &kp L    &kp BACKSPACE  &mkp RCLK
&kp LSHIFT        &kp Z  &kp X  &kp C      &kp V     &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp ENTER      &to 3
                                &kp LCTRL  &kp LALT  &kp SPACE    &kp SPACE  &to 1  &to 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp HASH         &kp N1  &kp N2  &kp N3  &kp N5                 &mt RBKT RPAR  &kp UNDER  &kp MINUS  &kp PLUS         &kp AT      &kp C_VOLUME_UP
&trans  &kp STAR         &kp N4  &kp N5  &kp N6  &mt SLASH BACKSLASH    &kp COLON      &kp SEMI   &kp APOS   &kp DQT          &kp DELETE  &kp C_VOL_DN
&trans  &kp PRINTSCREEN  &kp N7  &kp N8  &kp N9  &kp QMARK              &kp EXCL       &kp COMMA  &kp DOT    &kp C_AC_SEARCH  &trans      &kp C_MUTE
                                 &trans  &kp N0  &trans                 &trans         &trans     &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&bl BL_CYCLE     &bl BL_INC     &BetterBT0     &BetterBT1     &BetterBT2      &sys_reset           &kp CARET  &kp AMPS        &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&rgb_ug RGB_BRI  &bl BL_DEC     &BetterBT3     &BetterBT4     &BetterUSB      &ext_power EP_TOG    &kp MINUS  &kp EQUAL       &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&rgb_ug RGB_BRD  &bl BL_SET 20  &bl BL_SET 40  &bl BL_SET 70  &bl BL_SET 100  &bt BT_CLR           &kp UNDER  &kp PLUS        &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                               &kp LGUI       &trans          &kp SPACE            &kp RET    &studio_unlock  &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
